---
---

<section class="mb-16 md:mb-24">
  <h2 class="text-3xl font-bold mb-8 text-slate-900 dark:text-white">
    Proyectos
  </h2>

  <!-- GRID DE TARJETAS -->
  <div class="grid grid-cols-1 sm:grid-cols-3 gap-6">

    <!-- TARJETA 1 -->
    <div class="bg-white dark:bg-slate-800 p-5 rounded-xl shadow-lg">
      <img src="/src/assets/img/Casa (1).jpeg" 
           class="w-full h-40 object-cover rounded-lg" />
      <h3 class="text-xl font-bold text-pink-600 mt-4">Casa inteligente</h3>
      <p class="text-sm text-slate-600 dark:text-slate-300 mt-2">
        Casa inteligente con componentes electrónicos para encendido y apagado de luces, detección de humedad, apertura y cierre de puertas, control de cortinas, entre otras funciones.
      </p>
    </div>

    <!-- TARJETA 2 -->
    <div class="bg-white dark:bg-slate-800 p-5 rounded-xl shadow-lg">
      <img src="/src/assets/img/Blog.png" 
           class="w-full h-40 object-cover rounded-lg" />
      <h3 class="text-xl font-bold text-pink-600 mt-4">Mi blog</h3>
      <p class="text-sm text-slate-600 dark:text-slate-300 mt-2">
        Desarrollo de mi blog utilizando HTML y CSS.
      </p>
    </div>

    <!-- TARJETA 3 -->
    <div class="bg-white dark:bg-slate-800 p-5 rounded-xl shadow-lg">
      <img src="/src/assets/img/Interledger.jpeg" 
           class="w-full h-40 object-cover rounded-lg" />
      <h3 class="text-xl font-bold text-pink-600 mt-4">Hackathon</h3>
      <p class="text-sm text-slate-600 dark:text-slate-300 mt-2">
        Participación en el Interledger Student Hackathon EDOMEX 2025.
      </p>
    </div>

    <!-- TARJETA 4 -->
    <div class="bg-white dark:bg-slate-800 p-5 rounded-xl shadow-lg">
      <img src="/src/assets/img/Robot.jpeg" 
           class="w-full h-40 object-cover rounded-lg" />
      <h3 class="text-xl font-bold text-pink-600 mt-4">Robot</h3>
      <p class="text-sm text-slate-600 dark:text-slate-300 mt-2">
        Elaboración de un robot sumo para competencias.
      </p>
    </div>

    <!-- TARJETA 5 -->
    <div class="bg-white dark:bg-slate-800 p-5 rounded-xl shadow-lg">
      <img src="/src/assets/img/traslacion.png" 
           class="w-full h-40 object-cover rounded-lg" />
      <h3 class="text-xl font-bold text-pink-600 mt-4">Traslación</h3>
      <p class="text-sm text-slate-600 dark:text-slate-300 mt-2">
        Proyecto desarrollado en Godot donde se agrega una figura según los puntos asignados y luego se traslada a la posición deseada.
      </p>
    </div>

    <!-- TARJETA 6 -->
    <div class="bg-white dark:bg-slate-800 p-5 rounded-xl shadow-lg">
      <img src="/src/assets/img/f.jpeg" 
           class="w-full h-40 object-cover rounded-lg" />
      <h3 class="text-xl font-bold text-pink-600 mt-4">Feria de proyectos</h3>
      <p class="text-sm text-slate-600 dark:text-slate-300 mt-2">
        Participación en la Feria de Proyectos UMB Zona Norte 2025.
      </p>
    </div>

  </div>
</section>
